  <mat-drawer-container fullscreen>
    <mat-drawer mode="side" opened>
     <button (click)="panelId=1" class="button-menu"> Call Me Taz</button><br>
     <button (click)="panelId=2" class="button-menu"> 2020 </button><br>
     <button (click)="panelId=3" class="button-menu"> Down The Line </button><br>
     <button (click)="panelId=4" class="button-menu"> Creativity </button><br>
     <button (click)="panelId=5" class="button-menu"> Process </button>
  </mat-drawer>
    <mat-drawer-content>
      <div *ngIf="panelId==1">Panel Call Me Taz</div>
      <div *ngIf="panelId==2">Panel 2020</div>
      <div *ngIf="panelId==3">Panel Down the Line</div>
      <div *ngIf="panelId==4">Panel Creativity</div>
      <div *ngIf="panelId==5">Panel Process</div>


    </mat-drawer-content>
  </mat-drawer-container> 
