  table {
      padding: 0;
      margin: 0;
      background-color: black;
      border-style: none;
  }
  
  tr {
      padding: 0;
      margin: 0;
      background-color: yellow;
  }
  
  td {
      padding: 0;
      margin: 0;
      background-color: black;
  }
  
  table {
      margin: 40% 0%;
  }
  
  .table-button {
      background-color: black;
      color: #00b300;
      border: none;
      height: 50px;
      text-transform: uppercase;
      cursor: pointer;
      font-family: 'Audiowide';
      outline: none;
  }
  
  .table-coder-button {
      width: 40px;
      font-size: 40px;
      text-align: center;
      color: #e62e00;
      text-shadow: 3px 2px #4d0f00;
  }
  
  .table-left-button {
      width: 66px;
      font-size: 35px;
      text-align: right;
      text-shadow: 3px 2px #004d00;
      letter-spacing: 5px;
  }
  
  .table-right-button {
      width: 370px;
      font-size: 35px;
      text-align: left;
      display: inline-block;
      transition: all 0.5s;
      text-shadow: 3px 2px #004d00;
      letter-spacing: 5px;
  }
  
  .mat-drawer {
      background-color: black;
      vertical-align: middle;
  }
  
  .mat-drawer-content {
      background-image: url("https://static.vecteezy.com/system/resources/previews/000/151/791/non_2x/falling-numbers-matrix-background-vector.jpg");
  }
  
  .mat-drawer-inner-container {
      width: 300px;
  }
  
  div {
      border-radius: 15px;
      opacity: 0.75;
      background-color: black;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 100px;
      text-align: center;
      letter-spacing: 3px;
      word-spacing: 6px;
      color: white;
      font-family: 'Coda';
  }
  
  h3 {
      text-transform: uppercase;
  }